---
layout: default
permalink: /about/contact
title: Contact Us
---

<article class="post">
    <h1>Contact Us</h1>

    <h2>
        We will get back to you within 7 Hrs. Effective communication is our
        goal in every aspect of our business.
    </h2>
    <div class="ui divider big hidden"></div>
    <div class="ui grid stackable text">
        <div class="eight wide column">
            {% include contact-detail.html %}
            <br />
            {% include social.html %}
        </div>
        <div class="eight wide column">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.4063137293706!2d76.8798003141138!3d8.556870298562222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b061a0580a7f00d%3A0x6467e85d4d629a18!2spick2heal!5e0!3m2!1sen!2sin!4v1538127105303"
                width="500"
                height="400"
                frameborder="0"
                style="border:0"
                allowfullscreen=""
            ></iframe>
        </div>
    </div>
    <div class="ui divider big hidden"></div>
</article>
