<div class="ui fluid container">
    <div class="ui center aligned container asseen">
        <h2 class="ui header">As seen on</h2>
        <div class="ui small images">
            <a
                class="ui medium image"
                href="https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/startup-firm-brings-medical-lab-tests-to-doorstep/articleshow/63316058.cms"
                ><img src="https://www.pick2heal.com/images/et.png" alt=""
            /></a>
            <a
                class="ui medium image"
                href="https://www.indiatoday.in/pti-feed/story/startup-firm-brings-medical-lab-tests-to-doorstep-1190122-2018-03-15"
            >
                <img src="https://www.pick2heal.com/images/it.png" alt="" />
            </a>
            <a
                class="ui medium image"
                href="http://mdniche.in/viewClipping/d0228c15-040a-4bc3-af95-f84b3324f781"
            >
                <img src="https://www.pick2heal.com/images/toi.png" alt="" />
            </a>
            <a
                class="ui medium image"
                href="http://mdniche.in/viewClipping/ab0d5887-14d1-405f-95d1-1601d95ed8f2"
            >
                <img src="https://www.pick2heal.com/images/ie.png" alt="" />
            </a>
            <a
                class="ui medium image"
                href="http://www.technopolisweb.com/2018/03/19/startup-pick2heal-helps-make-medical-lab-tests-much-easier/"
            >
                <img src="https://www.pick2heal.com/images/tp.png" alt="" />
            </a>
        </div>
    </div>
</div>
