<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link relaxed list">
                    <a
                        class="item"
                        title="About {{site.title}}"
                        href="/about/pick2heal"
                        >About Us</a
                    >
                    <a
                        class="item"
                        title="Smart Contract Development"
                        href="/about/how-it-works"
                        >How it works</a
                    >

                    <a
                        class="item"
                        title="{{site.title}} Privacy Policy"
                        href="/about/privacy-ploicy"
                        >Privacy Policy</a
                    >
                    <a
                        class="item"
                        title="{{site.title}} Terms of Use"
                        href="/about/terms-of-use"
                        >Terms of Use</a
                    >
                    <a
                        class="item"
                        title="Contact {{site.title}}"
                        href="/about/contact"
                        >Contact</a
                    >
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header">Connect with us</h4>
                <div></div>
                {% include homesocial.html %}
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui container">
        {% include contact.html %}
    </div>
</div>
