<div class="masthead">
    <div class="ui center aligned container">
        <h1>{{site.slogan}}</h1>
        <div class="ui hidden divider"></div>
        <a
            href="https://www.pick2heal.com/booking/hometests"
            class="ui huge primary button"
            >Book Blood Test</a
        >
        <a
            href="https://www.pick2heal.com/searchreport"
            class="ui basic huge button"
            >Download Report</a
        >
        <div class="ui hidden divider"></div>
        <div class="call">
            <i class="icon phone"></i>
            <a href="tel:{{site.phone}}" title="Call">{{site.phone}}</a>
        </div>
    </div>
</div>
