<div class="masthead">
    <div class="ui center aligned container">
        <h1>{{site.slogan}}</h1>
        <div class="ui hidden divider"></div>
        <div class="ui action huge input">
            <input type="text" placeholder="Query" />
            <select class="ui compact selection primary dropdown">
                <option selected="" value="articles">Location</option>
                <option value="products">Result</option>
            </select>
            <button class="ui icon huge primary button">
                <i class="search icon"></i>
            </button>
        </div>
        <div class="ui hidden divider"></div>

        <a href="#" class="ui link">Book your next test</a>
    </div>
</div>
