<script type="application/ld+json">
    { "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Pick2Heal Labs LLP",
      "url" : "https://pick2heal.com",
      "telephone": "18002586393",
      "foundingDate": "2012-12-28",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Trivandrum",
        "addressRegion": "Kerala",
        "postalCode": "695581",
        "streetAddress": "G3B, Thejaswini, Technopark Campus"
      },
      "logo": "{{ site.logo | prepend:"/" | prepend: site.url }}",
      "sameAs" : {{ site.social | jsonify }}
    }
</script>
