<div class="ui fluid container services">
    <div class="ui container">
        <div class="ui hidden divider"></div>
        <div class="servicess">
            <div class="ui equal width grid">
                <div class="row">
                    <div class="column">
                        <h2 class="ui header">
                            <img src="/assets/img/one.png" alt="" />
                            <div class="content">
                                Book your blood test
                                <div class="sub header">
                                    Pick2heal has hundreds
                                </div>
                            </div>
                        </h2>
                        <p class="ui text">
                            Pick2heal has hundreds of blood tests and profiles
                            to choose from. When you open the website, you can
                            scroll through different types of blood tests or
                            search for a particular blood test or profile. When
                            you find the test you need, tap to add it to your
                            cart. And then search for the service availing
                            options like pin code, date and continue with the
                            process.
                        </p>
                    </div>
                    <div class="column">
                        <img
                            src="/assets/img/online-learning.svg"
                            alt=""
                            class="ui rounded medium image"
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <img
                            src="/assets/img/patient-2.svg"
                            alt=""
                            class="ui rounded medium image"
                        />
                    </div>

                    <div class="column">
                        <h2 class="ui header">
                            <img src="/assets/img/two.png" alt="" />
                            <div class="content">
                                Book your blood test
                                <div class="sub header">
                                    Pick2heal has hundreds
                                </div>
                            </div>
                        </h2>
                        <p class="ui text">
                            Pick2heal has hundreds of blood tests and profiles
                            to choose from. When you open the website, you can
                            scroll through different types of blood tests or
                            search for a particular blood test or profile. When
                            you find the test you need, tap to add it to your
                            cart. And then search for the service availing
                            options like pin code, date and continue with the
                            process.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <h2 class="ui header">
                            <img src="/assets/img/three.png" alt="" />
                            <div class="content">
                                Book your blood test
                                <div class="sub header">
                                    Pick2heal has hundreds
                                </div>
                            </div>
                        </h2>
                        <p class="ui text">
                            Pick2heal has hundreds of blood tests and profiles
                            to choose from. When you open the website, you can
                            scroll through different types of blood tests or
                            search for a particular blood test or profile. When
                            you find the test you need, tap to add it to your
                            cart. And then search for the service availing
                            options like pin code, date and continue with the
                            process.
                        </p>
                    </div>

                    <div class="column">
                        <img
                            src="/assets/img/lab.svg"
                            alt=""
                            class="ui rounded medium image"
                        />
                    </div>
                </div>


                <div class="row">
                    <div class="column">
                        <img
                            src="/assets/img/cellphone.svg"
                            alt=""
                            class="ui rounded medium image"
                        />
                    </div>

                    <div class="column">
                        <h2 class="ui header">
                            <img src="/assets/img/four.png" alt="" />
                            <div class="content">
                                Book your blood test
                                <div class="sub header">
                                    Pick2heal has hundreds
                                </div>
                            </div>
                        </h2>
                        <p class="ui text">
                            Pick2heal has hundreds of blood tests and profiles
                            to choose from. When you open the website, you can
                            scroll through different types of blood tests or
                            search for a particular blood test or profile. When
                            you find the test you need, tap to add it to your
                            cart. And then search for the service availing
                            options like pin code, date and continue with the
                            process.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
