<div class="ui fluid sttic container">
    <div class="ui text container center aligned">
        <div class="ui three inverted statistics large statisti">
            <div class="statistic red">
                <div class="value">
                    200+
                </div>
                <div class="label">
                    Customers
                </div>
            </div>
            <div class="statistic green">
                <div class="value">
                    30+
                </div>
                <div class="label">
                    Medical Labs
                </div>
            </div>
            <div class="statistic blue">
                <div class="value">
                    300+
                </div>
                <div class="label">
                    Orders
                </div>
            </div>
        </div>
    </div>
</div>
