<div class="ui fluid container videosec">
    <div class="ui text container center aligned">
        <h2>Ensuring affordable healthcare</h2>
        <h3>
            We are on a mission to deliver better healthcare services at
            affordable cost.
        </h3>
        <div class="ui hidden divider"></div>

        <div
            class="ui embed"
            data-url="https://www.youtube.com/watch?v=cBVGlBWQzuc"
        ></div>
    </div>
</div>

<div class="ui fluid container">
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <div class="ui basic segment">
        <div class="ui equal width stackable grid">
            <div class="center aligned row">
                <div class="column">
                    <div class="wrapper" id="wrapper">
                        <p class="">
                            First Slide text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's
                            standard
                            <span class="italic"
                                >dummy text ever since the 1500s,</span
                            >
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                            <br />
                            <span>- Dr. Someone Joe, Medical College, TVM</span>
                        </p>
                        <p class="">
                            Second Slide text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's
                            standard
                            <span class="italic"
                                >dummy text ever since the 1500s,</span
                            >
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <p class="">
                            Third Slide text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's
                            standard
                            <span class="italic"
                                >dummy text ever since the 1500s,</span
                            >
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <ul class="dots-wrap">
                            <li class="dot"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
