<div class="ui fluid container techs">
    <div class="ui container">
        <div class="ui equal width relaxed stackable grid">
            <div class="equal width row">
                <div class="column center aligned">
                    <div class="ui header ">
                        <div class="content">
                            <img
                                src="/assets/img/house.svg"
                                width="128"
                                alt=""
                            />

                            <h2>Blood testing at your doorsteps</h2>
                            For many people, the idea of spending long hours in
                            a lab or hospital may sound demotivating. Many
                            people also avoid going for preventive screenings
                            and lab tests as they dread battling city traffic.
                            In certain cases, travel-related stress can increase
                            the risk of infection and delay recovery.
                        </div>
                    </div>
                </div>
                <div class="column center aligned">
                    <div class="ui header ">
                        <div class="content">
                            <img
                                src="/assets/img/insurance.svg"
                                width="128"
                                alt=""
                            />

                            <h2>Preventive</h2>
                            Pick2Heal preventive allows people to check sugar,
                            cholesterol and BP of their entire family just @ Rs
                            1 for each. The goal behind preventive feature is to
                            get alert the people regarding preventive healthcare
                            and thereby build a diabetic free, stroke free
                            society.
                        </div>
                    </div>
                </div>

                <div class="column center aligned">
                    <div class="ui header">
                        <div class="content">
                            <img
                                src="/assets/img/coins.svg"
                                width="128"
                                alt=""
                            />
                            <h2>PreventiveCoin</h2>
                            #PreventiveCoin is nothing but a coin which helps
                            all your family members to do health check-up at a
                            very low price from the best labs nearby. Especially
                            if you are diabetic patient / you know any diabetic
                            patients in your circle, share and refer them to
                            pick2heal preventive and increase your coin value.
                            Hence together we can build a diabetic free, stroke
                            free society.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
