---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body
        id="page-{{page.layout}}"
        class="page page-{{page.layout}} path-{{page.class | default: 'inner'}}"
    >
        <div class="ui top big sidebar vertical menu">
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <a class="item" href="/">
                <i class="large home icon"></i>
                Home
            </a>
            <a class="item" href="/about/pick2heal">
                <i class="large smile icon"></i>
                About Us
            </a>
            <a class="item" href="/about/how-it-works">
                <i class="large code icon"></i>
                How it works?
            </a>
            <a class="item" href="/about/contact">
                <i class="large send icon"></i>
                Contact
            </a>
        </div>

        <div class="pusher">
            <div class="ui container">
                {% include header.html %}
            </div>
            <div class="ui container">
                {{ content }}
            </div>
            {% if page.url == "/" %} {% include technologies.html %} {% include
            statitics.html %}{% include techstack.html %} {% include
            featuredin.html %} {% endif %}
            <div class="fullw">
                <div class="ui container fluid footer">
                    {% include footer.html %}
                </div>
            </div>
            {% include analytics.html %} {% include scripts.html %}
        </div>
    </body>
</html>
